.App {
  text-align: center;

}

.header-logo {
  border-bottom: 1px solid rgb(100, 100, 100 , 0.2);
  height: 30px;

}

.the-movie {
  background-size: cover;
  cursor: pointer;
  font-size: 20px;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  color: white;
  height: 200px;
  width: 150px;

}

.movies-button {
  background-size: cover;
  cursor: pointer;
  font-size: 20px;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  color: white;
  height: 200px;
  width: 150px;

}

.all-movies-button {
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  background-size: cover;
  cursor: pointer;
  font-size: 20px;
  color: white;
  height: 200px;
  width: 150px;
  
}

.all-movies {
  float: right;
}

.side-bar {
  padding: 0;
  margin: 0;

}

.rate-button {
  background-color: transparent;
  border: 0;
}

.App-logo {
  height: 50px;
  margin: 40px;
  float: left;

}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
